table {
    border-collapse: collapse;
    text-align: center;
}
table th,table tr, table tr td  {
    border: 1px solid #000;
    padding: 8px;
}

table tr td:first-child {
    color: #20aeff;
}